
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root{
  --black: hsla(228, 100%, 1%, 1);
  --oxford-blue: hsla(211, 67%, 13%, 1);
  --indigo-dye: hsl(204, 86%, 20%);
  --indigo-dye-2: hsla(202, 100%, 24%, 1);
  --pacific-cyan: hsla(193, 96%, 42%, 1);
  --satin-sheen-gold: rgb(241, 228, 154);

  --ff: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold:700;
}

/* Styling Start Screen */
body{
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: 1rem;

  background-image: url(../media/planet-earth-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 1rem;
  
}

.content{
  --content_padding: 5rem;
  --content_gap: 10rem;

  background-color: rgba(11,32,55,0.7);
  height: 600px;
  width: 400px;
  border-radius: 1.0rem;

  display: grid;
  place-content: center;
  /* justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--indigo-dye)*/
}

.startElements{  
  display: grid;
  place-content: center;
  /* background-color: var(--indigo-dye); */
  padding: var(--content_padding);
  margin: auto;
  gap: var(--content_gap);
}

.startElements > *{
  margin:auto;
  box-shadow: none;
  border: none;
  padding: 1rem;
  width:100%;
  background-color: var(--indigo-dye);
  color: var(--satin-sheen-gold);
  text-align: center;

}

.startElements > input:hover,button:hover{
  background-color: var(--indigo-dye-2);
}
